# Python cache and bytecode
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/

# Virtual environments
.env
.venv
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# System files
.DS_Store
Thumbs.db
.vscode/
.idea/

# VS Code settings
.vscode/

# Logs
*.log

# Data (optional – uncomment if you don’t want big raw datasets in git)
data/
*.csv
*.tsv
*.xlsx

# Model files (optional – uncomment if you only want code tracked)
*.h5
*.pkl
*.joblib
*.pt
*.onnx

# Folders & files
test_image/
saved_model/
test.ipynb
